#ignore everything
*
*/

#dont ignore wp-content/plugins/ko-yt-embed/**
wp-content
!wp-content
wp-content/plugins
!wp-content/plugins
wp-content/plugins/ko-yt-embed
!wp-content/plugins/ko-yt-embed
!wp-content/plugins/ko-yt-embed/**





!.gitignore
!readme.md



